.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.header nav a {
  margin-left: 2rem;
  color: var(--color-main);
  font-weight: 600;
  cursor: pointer;
}
