.root {
  border-bottom: thin solid var(--color-main);
  padding-block: 8px 16px;
  margin-bottom: 24px;
}

.root:last-child {
  border-bottom: none;
}

.inner {
  display: grid;
  grid-template-columns: 80px 1fr;
  gap: 16px;
  position: relative;
}

/* ===== 左：ラインエリア ===== */
.lineArea {
  position: relative;
  display: flex;
  justify-content: center;
}

.root:last-child .lineArea::after {
  background: linear-gradient(
    var(--color-main) 0%,
    var(--color-main) 75%,
    transparent 100%
  );
}

.year {
  margin-top: 4px;
  color: var(--color-main);
  font-weight: bold;
}

/* 縦線 */
.lineArea::after {
  content: "";
  position: absolute;
  top: calc(1rem + 16px);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background: var(--color-main);
}

/* ===== 右：コンテンツ ===== */

.content {
  padding-block: 8px 16px;
}

.header {
  margin-bottom: 16px;
}

.meta {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.companyName {
  font-weight: 500;
}

.period {
  font-size: 0.9rem;
}

/* ===== プロジェクト ===== */

.projectList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 32px;
}

