.footer {
  height: var(--height-footer);
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: var(--space-8);
}

.copyright {
  display: flex;
  justify-content: center;
  margin: var(--space-2) 0 0;
}

