.about {
}

.stackItem {
  gap: 0;
}

.about p {
  margin-inline: 0;
  margin-block: 0 var(--space-4);
  line-height: 1.9;
  max-width: var(--max-width-text);
}

.about p:has(br) {
  margin-bottom: var(--space-5);
}

.about strong {
  font-weight: 600;
  color: var(--color-main);
  margin-inline: var(--space-2);
}

.about p.lead {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: var(--space-5);
}

@media (min-width: 768px) {
  .break {
    display: inline;
  }

  .break::after {
    content: "\A";
    white-space: pre;
  }
}

