.techList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.techItem {
  padding: 4px 10px;
  border: thin solid var(--color-main);
  border-radius: 999px;
  font-size: 0.7rem;
}

