.techList {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
  list-style: none;
  padding: 0;
}

.techItem {
  padding: var(--space-1) 10px;
  border: thin solid var(--color-main);
  border-radius: var(--radius-full);
  font-size: 0.7rem;
}

