.root {
}

/* 右側 コンテンツ */
.content {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

.title {
  color: var(--color-main);
}

.description {
  margin: 8px 0 0;
}

.highlights {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 8px;
}

.highlights li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.highlightIcon {
  color: var(--color-blue-200);
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  margin-top: 0.1rem;
}

.links {
  list-style: none;
  display: flex;
  gap: 8px;
  padding: 0;
}

.links a {
  padding: 4px 16px;
}

