.buttonLike {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: var(--color-main);
  color: white;
  border: thin solid var(--color-main);
  border-radius: 4px;
  line-height: 1;
}

.buttonLike:hover {
}

/*===== サイズ =====*/
.small {
  padding: 6px 12px;
  font-size: 0.85rem;
}

.medium {
  padding: 8px 16px;
  font-size: 1rem;
}

.large {
  padding: 12px 20px;
  font-size: 1.25rem;
}

