.buttonLike {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 2px solid var(--color-main);
  border-radius: var(--radius-xs);
  line-height: 1;
  cursor: pointer;
}

.buttonLike:hover {
}

/*===== サイズ =====*/
.small {
  padding: 6px var(--space-3);
  font-size: 0.85rem;
}

.medium {
  padding: var(--space-2) var(--space-4);
  font-size: 1rem;
}

.large {
  padding: var(--space-3) 20px;
  font-size: 1.25rem;
}

/*===== トーン =====*/
.primary {
  background: var(--color-main);
  color: white;
}

.secondary {
  background: transparent;
  color: var(--color-main);
}

