:root {
  --color-main: #0265da;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f6f7f9;
  color: #1c1f26;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  overflow: hidden;
}

