.header {
  position: relative;
  height: var(--height-header);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--height-navigation);
  position: fixed;
  z-index: 1;
  padding: 0 var(--space-8);
  background: var(--color-base);
}

.logo {
  position: relative;
  height: 70%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.logoImage {
  object-fit: contain;
}

/*===== レスポンシブ =====*/
/* タブレット以下 */
@media (max-width: 1024px) {
  .navigation {
    padding-inline: var(--space-5);
  }
}

/* スマホ以下 */
@media (max-width: 768px) {
  .header {
    height: var(--height-mobile-header);
  }

  .navigation {
    padding-inline: var(--space-4);
  }
}

