.header {
  position: relative;
  height: var(--height-header);
  padding: var(--space-4) var(--space-6);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
  z-index: 1;
}

.navigation nav a {
  margin-left: 2rem;
  color: var(--color-main);
  font-weight: 600;
  cursor: pointer;
}

