.header {
  position: relative;
  height: var(--height-header);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--height-navigation);
  position: fixed;
  z-index: 1;
  padding: var(--space-4) var(--space-6);
  background: var(--color-base);
}

.logo {
  cursor: pointer;
}

