:root {
  --drop-blue: var(--color-main);
  --drop-light: var(--color-blue-300);
  --drop-pale: var(--color-blue-500);
}

.splash {
  position: absolute;
  top: var(--height-navigation);
  left: 0;

  width: 100%;
  height: calc(var(--height-header) - var(--height-navigation));
  pointer-events: none;
  overflow: hidden;
}

.drop {
  position: absolute;
  left: var(--end-x);
  top: var(--end-y);

  width: var(--size);
  height: var(--size);

  border: 1px solid
    color-mix(in srgb, var(--drop-color) 70%, var(--color-main) 30%);
  border-radius: var(--radius-full);
  background: var(--drop-color);
  filter: blur(0.5px);

  transform: translate(-50%, -50%) scale(1);
  animation: spread var(--duration) ease-out var(--delay) backwards;
}

@keyframes spread {
  0% {
    opacity: 0.5;
    left: var(--start-x);
    top: var(--start-y);
    transform: translate(-50%, -50%) scale(0);
  }

  20% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
  }

  100% {
    opacity: 1;
    left: var(--end-x);
    top: var(--end-y);
    transform: translate(-50%, -50%) scale(1);
  }
}

/*===== レスポンシブ =====*/
/* スマホ以下 */
@media (max-width: 768px) {
  .splash {
    height: calc(var(--height-mobile-header) - var(--height-navigation));
  }

  .drop {
    width: calc(var(--size) * 0.5);
    height: calc(var(--size) * 0.5);
    filter: none;
  }
}

