.root {
  display: grid;
  gap: 8px;
}

.header {
  display: flex;
  align-items: center;
}

.title {
  font-weight: normal;
}

.content {
  display: grid;
  gap: 8px;
}

.description {
  margin: 0;
}

.techStack {
  margin: 8px 0 0;
}

