.button {
  border-radius: 4px;
  cursor: pointer;
}

/* variant */
.primary {
  background: var(--color-main);
  color: white;
}
.secondary {
  background: transparent;
  color: color(--color-main);
  border: thin solid var(--color-main);
}

/* size */
.small {
  padding: 6px 12px;
  font-size: 0.85rem;
}
.medium {
  padding: 8px 16px;
  font-size: 1rem;
}
.large {
  padding: 12px 20px;
  font-size: 1.25rem;
}

